<!DOCTYPE html>
<html lang="en">
<head>
	<!-- meta character set -->
	<meta charset="utf-8">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Leon del mar</title>
	<!-- Meta Description -->
	<meta name="description" content="Servicio Tecnico de computadora window, Mac y laptops">
	<meta name="keywords"
		content="servicio Tecnico, computadoras, laptops, soporte, hardware, averiado, servico rapido">
	<meta name="author" content="Paul Antony Urbina Loayza">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>

<body>

</body>

</html>