<div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title-ab block-title-cl"> Sobre nosotros </h2>
                    <p> Bienvenidos a León de Mar, un emprendimiento lleno de pasión y gran amor por la cocina peruana.
                        Especializados en pescados y mariscos,
                        Comida internacional, comida criollo peruana y postres selectos.
                    <div class="fb-like" data-href="https://leondelmar.herokuapp.com/" data-width=""
                        data-layout="button" data-action="like" data-size="small" data-share="true"></div>
                    </p>
                    <a href="https://www.facebook.com/leondelmar.pe" target="_blank">
                        <i class="bi bi-facebook" style="font-size: 4rem; color: #4F4F4F;"></i>
                    </a>
                    <a href="https://www.instagram.com/leon_del_mar_/" target="_blank">
                        <i class="bi bi-instagram" style="font-size: 4rem; color: #4F4F4F;"></i>
                    </a>

                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="about-images">
                        <video loop muted autoplay preload="auto">
                            <source
                                src="https://res.cloudinary.com/dxbxsfubt/video/upload/v1616999980/leondelmar-ernesto/videos/about-logo.mp4"
                                type="video/mp4">
                            You browser does not support the video tag.
                        </video>
                        {{!-- <img class="about-main" src="images/about/cheff_about_2021.jpg" alt="Sobre el cheff"
                            height="400px"> --}}
                        {{!-- <img class="about-inset" src="images/about-inset.jpg" alt="About Inset Image"> --}}
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>

{{!-- 520 x 328 --}}