<div id="banner-video">
    <video loop muted autoplay preload="auto">
        <source src="https://res.cloudinary.com/dxbxsfubt/video/upload/v1616999981/leondelmar-ernesto/videos/banner.mp4" type="video/mp4">
        You browser does not support the video tag.
    </video>
    <div class="banner-text">
        <div class="banner-cell">
            <h1>Almuerza con <span class="typer" id="some-id" data-delay="200" data-delim=":"
                    data-words="Amigos:Familia" data-colors="red"></span><span class="cursor" data-cursorDisplay="_"
                    data-owner="some-id"></span></h1>
            <h2>Pescado mariscos - Internacional - Criollo peruana - Postres </h2>
            <p>Disfruta de nuestros especiales lleno de pasi칩n y gran amor por la cocina peruana.</p>
            <div class="book-btn">
                <a href="#footer" class="table-btn hvr-underline-from-center">Cont치ctenos</a>
            </div>
            <a href="#about">
                <div class="mouse"></div>
            </a>
        </div>
        <!-- end banner-cell -->
    </div>
</div>

{{!-- <div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1>Almuerza con <span class="typer" id="some-id" data-delay="200" data-delim=":"
                                data-words="Amigos:Familia" data-colors="red"></span><span class="cursor"
                                data-cursorDisplay="_" data-owner="some-id"></span></h1>
                        <h2>Pescado mariscos - Internacional - Criollo peruana - Postres </h2>
                        <p>Disfruta de nuestros especiales lleno de pasi칩n y gran amor por la cocina peruana.</p>
                        <div class="book-btn">
                            <a href="#reservation" class="table-btn hvr-underline-from-center">Cont치ctenos</a>
                        </div>
                        <a href="#about">
                            <div class="mouse"></div>
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner --> --}}