<a href="https://api.whatsapp.com/send/?phone=5211234567890&text=Hola%20estoy%20interesado%20en%20saber%20mas,%20gracias"
    class="whatsapp" target="_blank">
    <i class="fa fa-whatsapp whatsapp-icon"></i></a>