<div id="menu" class="menu-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title-ab block-title-cl text-center">
                        Nuestro menu
                    </h2>
                    <p class="title-caption text-center">Elige tu platillo favorito , buen provecho!</p>
                </div>
                <div class="tab-menu">
                    <div class="slider slider-single">
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="images/menu-item-thumbnail-01.jpg" alt="" class="img-responsive">
                                    <div>
                                        <h3>CEVICHE</h3>
                                        <p>
                                            Descripcion del ceviche...
                                        </p>
                                    </div>
                                    <span class="offer-price">S/. 25</span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="images/menu-item-thumbnail-02.jpg" alt="" class="img-responsive">
                                    <div>
                                        <h3>ARROZ CON MARISCOS</h3>
                                        <p>
                                            Descripcion del arroz con mariscos...
                                        </p>
                                    </div>
                                    <span class="offer-price">S/. 30</span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                                    <div>
                                        <h3>LOMO SALTADO CLASICO</h3>
                                        <p>
                                            Descripcion del lomo saltado....
                                        </p>
                                    </div>
                                    <span class="offer-price">S/. 35</span>
                                </div>
                            </div>
                            <!-- end col -->

                             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="images/menu-item-thumbnail-02.jpg" alt="" class="img-responsive">
                                    <div>
                                        <h3>ARROZ CON MARISCOS</h3>
                                        <p>
                                            Descripcion del arroz con mariscos...
                                        </p>
                                    </div>
                                    <span class="offer-price">S/. 30</span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                                    <div>
                                        <h3>LOMO SALTADO CLASICO</h3>
                                        <p>
                                            Descripcion del lomo saltado....
                                        </p>
                                    </div>
                                    <span class="offer-price">S/. 35</span>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                                    <div>
                                        <h3>LOMO SALTADO CLASICO</h3>
                                        <p>
                                            Descripcion del lomo saltado....
                                        </p>
                                    </div>
                                    <span class="offer-price">S/. 35</span>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
                <!-- end tab-menu -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end menu -->