<div id="our_team" class="team-main pad-top-100 pad-bottom-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title-ab block-title-cl text-center">
                        CHEFF
                    </h2>
                    <p class="title-caption text-center">Con mas de 20 años de experiencia cocinando al deleite de los clientes.</p>
                </div>
                <div class="team-box">

                    <div class="row justify-content-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 col-sm-6">
                            <div class="sf-team">
                                <div class="thumb">
                                    <a href="#our_team"><img src="https://res.cloudinary.com/dxbxsfubt/image/upload/v1617031810/leondelmar-ernesto/images/cheff.jpg" alt=""></a>
                                </div>
                                <div class="text-col">
                                    <h3>Ernesto Carrasco Requejo</h3>
                                    <p>Limeño y amante de la comida peruana, con gusto prepararé sus platillos.</p>
                                    <ul class="team-social">
                                        <li><a href="https://www.facebook.com/ernesto.requejo.75"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/chef.ernesto.requejo/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>
                <!-- end team-box -->

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end team-main -->